[submodule "cs6747-extra-credit-1"]
	path = cs6747-extra-credit-1
	url = ../cs6747-extra-credit-1
[submodule "cs6747-lab1"]
	path = cs6747-lab1
	url = ../cs6747-lab1
[submodule "cs6747-reading-slides"]
	path = cs6747-reading-slides
	url = ../cs6747-reading-slides
[submodule "cs6747-lab2"]
	path = cs6747-lab2
	url = ../cs6747-lab2
[submodule "cs6747-lab3"]
	path = cs6747-lab3
	url = ../cs6747-lab3
[submodule "cs6747-lab4"]
	path = cs6747-lab4
	url = ../cs6747-lab4
[submodule "cs6747-lab5"]
	path = cs6747-lab5
	url = ../cs6747-lab5
